* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.wrapper {

    font-family: 'Mulish', sans-serif;
    width: 1230px;
    margin-right: auto;
    margin-left: auto;

    header {
        margin-bottom: 50px;
        text-align: center;

        h1 {
            font-size: 2.5rem;
            color: #E8E288;
            font-weight: 700;
            margin-bottom: 0px;
        }

        a {

            font-size: 0.80rem;
            color: #FF8360;
            text-decoration: none;
        }

    }
}

#playground {


    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;


    .board {


        display: grid;
        grid-template-columns: 300px 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 30px;
        margin-bottom: 30px;

        #diamonds {

            background-color: rgba(255, 253, 253, 0.932)smoke;

            img {
                height: 300px;
                cursor: pointer;
                margin-right: -198px;




            }



        }

        .battle {

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;

            .battle-spades {

                img {

                    height: 300px;
                    position: absolute;
                }
            }

            .battle-clubs {

                img {

                    height: 300px;
                    position: absolute;
                }

            }


        }


        .game-information {

            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        

        .status {

            color: blueviolet
        }

        .turn-number {
            font-weight: 700;
            color: #E8E288;
        }

        .details {


            display: block;

        }

        #turn {

            margin: 12px;
            border-radius: 20px;
            padding: 10px 15px;
            font-size: 0.75rem;
            background-color: aliceblue;
            border: none;
            font-style: bold;
            color: blueviolet;
            font-weight: 700;
            cursor: pointer;

            &:disabled {

                background-color: lightgray;
                color: rgba(165, 42, 42, 0.459);
                opacity: 0.5;
                cursor: not-allowed;

            }

        }


    }




}



#spades {



    img {
        height: 300px;
        cursor: pointer;
        margin-right: -130px;

        &:hover {

            position: relative;
            bottom: 50px;
        }




    }


}

#clubs {

    height: 305px;


    img {
        height: 300px;
        cursor: pointer;
        margin-right: -130px;

        &:hover {

            position: relative;
            top: 50px;
        }




    }


}




}